<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio de enfermera</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/LandingStyles.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="imgs/logo.png" width="35" height="35" class="d-inline-block align-top" alt="Logo">
            Cuidamor 
        </a>
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse components" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Servicios
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Enfermería</a>
                      <a class="dropdown-item" href="#">Cuidado</a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Ayuda</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Quiero Trabajar con Ustedes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Registrarme</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Inicio de Sesión</a>
              </li>
          </ul>
      </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar" class="bg-light">
        <div class="sidebar-header">
            <button type="button" id="dismiss" ><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg></button>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#servicesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Servicios</a>
                <ul class="collapse list-unstyled" id="servicesSubmenu">
                    <li>
                        <a href="#">Enfermería</a>
                    </li>
                    <li>
                        <a href="#">Cuidado</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
            <li>
                <a href="#">Quiero Trabajar con Ustedes</a>
            </li>
            <li>
                <a href="#">Registrarme</a>
            </li>
            <li>
                <a href="#">Inicio de Sesión</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 d-flex align-items-center">
                <div style="text-align: left; width: 100%;">
                    <h1 class="text-uppercase fw-bold">Enfermeras</h1>
                    <p class="my-3" style="opacity: 0.8;">En Cuidamor, nos dedicamos a ofrecer los mejores servicios de cuidado a domicilio, proporcionando tanto enfermeras profesionales como cuidadores dedicados. Entendemos la importancia de un cuidado personalizado y de calidad para tus seres queridos, por eso, nos aseguramos de que cada miembro de nuestro equipo esté altamente capacitado y comprometido con su bienestar.</p>
                    <a class="btn btn-outline-primary btn-lg my-2" role="button" href="#" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); width: 100%;">Quiero formar parte del equipo</a>
                    <a class="btn btn-outline-primary btn-lg my-2" role="button" href="#" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); width: 100%;">Ya formo parte del equipo</a>
                </div>
            </div>
            <div class="col-md-6 order-md-2 d-flex align-items-center justify-content-center">
                <img src="https://cuida24.com/wp-content/uploads/2019/06/servicios-de-enfermeria_fondo_cuida-24-1-1200x675.jpg" alt="Servicio de enfermería a domicilio" style="border-radius: 20%; max-width: 100%;">
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <ul>
                <h3>Cuidados</h3>
                <li>Servicio 1</li>
                <li>Servicio 2</li>
                <li>Servicio 3</li>
            </ul>
            <ul>
                <h4>Para postularme como enfermera</h4>
                <li>Beneficio 1</li>
                <li>Beneficio 2</li>
                <li>Beneficio 3</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 d-flex align-items-center">
                <div style="text-align: left; width: 100%;">
                    <h1 class="text-uppercase fw-bold">Enfermeras</h1>
                    <p>En Cuidamor, puedes encontrar el servicio de enfermeria más adecuado para ser tu querido bla bla xd .</p>
                    <a class="btn btn-outline-primary btn-lg my-2" role="button" href="#" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); width: 100%;">Contratar enfermera</a>
                    <a class="btn btn-outline-primary btn-lg my-2" role="button" href="#" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); width: 100%;">Unirme como enfermera</a>
                </div>
            </div>
            <div class="col-md-6 order-md-2 d-flex align-items-center justify-content-center">
                <img src="https://cuida24.com/wp-content/uploads/2019/06/servicios-de-enfermeria_fondo_cuida-24-1-1200x675.jpg" alt="Servicio de enfermería a domicilio" style="border-radius: 20%; max-width: 100%;">
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <ul>
                <h3>Cuidados</h3>
                <li>Administración de medicamentos</li>
                <li>Cuidados postoperatorios</li>
                <li>Control de signos vitales</li>
                <li>Atención a enfermedades crónicas</li>
                <li>Asistencia en higiene personal</li>
                <li>Curas y cambios de vendajes</li>
            </ul>
            <ul>
                <h4>Para postularme como enfermera</h4>
                <li>Cédula profesional</li>
                <li>Certificados</li>
            </ul>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/landing.js"></script>
</body>
</html>
