<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Espera a tu validacion
    <h1>aqui podnremos pasos de como es que funciona el trabajo</h1>
    <h2>asi como un minitutorial y asi</h2>
    <h3>una vez haya leido todo y despues de quiza leer un formulario</h3>
    <h4>la mandamos a iniciar sesion</h4>
    <h5>Y ahi le aplico la validacion</h5>
</body>
</html>