<!DOCTYPE html>
<html>
  <head>
    <title>Enfermeras</title>
  </head>
  <body>
    <h1>Lista de Enfermeras</h1>
    <% enfermeras.forEach(function(enfermera){ %>
    <h2><%= enfermera.enf_nom %></h2>
    <p><%= enfermera.especialidad %></p>
    <% }) %>
  </body>
</html>
