<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Inicio Sesion Cuidamor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body class="text-center">

    <form action="/register" method="POST">
<label for="">Formulario Invisible</label>
<label for=""></label>
<label for="Nombre"></label>
<input type="text" name="nom" id="nom">
<label for="">Apellido P</label>
<input type="text" name="cor" id="cor">
<label for="">ApellidoM</label>
<input type="text" name="pass" id="pass">
<label for="">contra</label>
<input type="text" name="tel" id="tel">
<label for="">correo</label>
<input type="text" name="rfc" id=rfc"">
<label for="">10</label>
<input type="text" name="ref" id="ref">
<label for="">9</label>
<input type="text" name="appat" id="appat">
<label for="">8</label>
<input type="text" name="apmat" id="apmat">
<label for="">7</label>
<input type="text" name="col" id="col">
<label for="">6</label>

<input type="text" name="nue" id="nue">
<label for="">5</label>
<input type="text" name="nui" id="nui">
<label for="">4</label>
<input type="text" name="cal" id="cal">
<label for="">3</label>
<input type="text" name="cp" id="cp">
<label for="">2</label>
<input type="text" name="cepro" id="cepro">
<label for="">1</label>
<input type="text" name="yxp" id="yxp">
      
 
        <div class="col-sm-10">
          <a href="/" type="button" class="btn btn-secondary">Abortar a los 260 </a>

          <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        </div>
      </div>
    </form>
  </body>
</html>


