<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Inicio Sesion Cuidamor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form action="/register" method="POST">
        <h1 class="h3 mb-3 fw-normal">Registro Cuidamor</h1>

        <div class="form-floating">
          <input type="text" name="nom" id="nom" class="form-control" placeholder="Nombre" required />
          <label for="nom">Nombre</label>
        </div>
        <div class="form-floating">
          <input type="text" name="cor" id="cor" class="form-control" placeholder="Apellido Paterno" required />
          <label for="cor">Apellido Paterno</label>
        </div>
        <div class="form-floating">
          <input type="text" name="apmat" id="apmat" class="form-control" placeholder="Apellido Materno" required />
          <label for="apmat">Apellido Materno</label>
        </div>
        <div class="form-floating">
          <input type="password" name="pass" id="pass" class="form-control" placeholder="Contraseña" required />
          <label for="pass">Contraseña</label>
        </div>
        <div class="form-floating">
          <input type="number" name="tele" id="tele" class="form-control" placeholder="Teléfono" required />
          <label for="tele">Teléfono</label>
        </div>
        <div class="form-floating">
          <input type="email" name="rfc" id="rfc" class="form-control" placeholder="Correo electrónico" required />
          <label for="rfc">Correo electrónico</label>
        </div>
        <div class="form-floating">
          <input type="text" name="ref" id="ref" class="form-control" placeholder="Referencia" required />
          <label for="ref">Referencia</label>
        </div>
        <div class="form-floating">
          <input type="text" name="appat" id="appat" class="form-control" placeholder="Apellido Paterno (otro)" />
        </div>
        <div class="form-floating">
          <input type="text" name="apmat" id="apmat" class="form-control" placeholder="Apellido Materno (otro)" />
        </div>
        <div class="form-floating">
          <input type="text" name="col" id="col" class="form-control" placeholder="Colonia" />
        </div>
        <div class="form-floating">
          <input type="text" name="nue" id="nue" class="form-control" placeholder="Número exterior" />
        </div>
        <div class="form-floating">
          <input type="text" name="nui" id="nui" class="form-control" placeholder="Número interior" />
        </div>
        <div class="form-floating">
          <input type="text" name="cal" id="cal" class="form-control" placeholder="Calle" />
        </div>
        <div class="form-floating">
          <input type="number" name="cp" id="cp" class="form-control" placeholder="Código postal" />
        </div>
        <div class="form-floating">
          <input type="text" name="cepro" id="cepro" class="form-control" placeholder="Ciudad / Población" />
        </div>
        <div class="form-floating">
          <input type="text" name="yxp" id="yxp" class="form-control" placeholder="Estado / Provincia" />
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Crear Cuenta
        </button>
      </form>
      <small class="d-block text-center mt-3">
        ¿Ya tienes una cuenta? <a href="/">Iniciar Sesión</a>
      </small>
    </main>
  </body>
</html>


