.colores{
 
    color: #5BC0EB;
    color: #3E7CB1;
    color: #9BE564;
    color: #A2D729;
    color: #FFFFFF;
    color: #555555;
    color: #CCCCCC;
    color: #DDB88C;
    color: #FFEEAD;
    color: #FFA45B;

}