/* Custom Styles for Landing Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 10px;
}

.container {
    padding: 50px 0;
}

.container h1,
.container h2,
.container h3 {
    color: #333;
}

.container p {
    font-size: 1rem;
    color: #666;
}

.container button {
    margin: 10px;
}

/* Sidebar Styles */
#sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Changed from left to right */
    height: 100%;
    width: 250px;
    background: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s; /* Changed from left to right */
    z-index: 1000;
}

#sidebar.active {
    right: 0;
}

#dismiss {
    border: none;
    background: none;
    margin-top: 10px;
}

.sidebar-header {
    padding: 20px;
    background: #f8f9fa;
}

.sidebar-header h3 {
    margin: 0;
}

.sidebar-header button {
    float: left;
}

.components {
    padding: 20px 0;
}

.components a {
    color: #333;
    padding: 10px;
    display: block;
    transition: 0.3s;
}

.components a:hover {
    background: #007bff;
    border-radius: 20px;
    color: #fff;
}

.components .dropdown-toggle::after {
    display: none;
}
/* Footer Styles */
footer {
    background: #f8f9fa;
    padding: 20px 0;
}

footer h5 {
    color: #333;
}

footer p, footer a {
    color: #666;
    font-size: 0.9rem;
}

footer a:hover {
    color: #007bff;
}

footer .bg-dark {
    background: #343a40 !important;
    color: #fff;
}

.page-header {
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    backdrop-filter: blur(5px); /* Agrega un efecto de desenfoque */
    opacity: 80%;
}



