/* styles.css */

/* Estilos de la barra de navegación */
nav.navbar-green {
    background-color: #5BC0EB !important; 
  }
  
  .dropdown-menu.show {
    display: block;
    transition: all 0.3s ease;
    opacity: 1;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    z-index: 10;
    padding: 10px;
}

  /* Estilos de las secciones */
  section {
    margin: 50px 0;
    text-align: center;
  }
  
  #section3 {
    margin: 50px 0;
  }
  
  #section3 h2 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  /* Estilos para el footer */
  footer {
    border-top: 1px solid #9e9e9e;
  }
  
  footer ul {
    padding: 0;
    margin-bottom: 20px; /* Añadir espacio entre las listas */
  }
  
  footer ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  footer ul li a:hover {
    color: #007bff;
  }
  
  footer .col-md-6 {
    margin-top: 0; /* Eliminar el margen superior */
  }
  