html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: inherit;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos para el formulario */

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Ocultar botón de tipo archivo */
input[type="file"] {
  display: none;
}

/* Estilo para el botón de archivo personalizado */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

/* Estilos para los pasos del formulario */
#parte1,
#parte2,
#parte3,
#parte4 {
  margin-bottom: 20px;
}
/* Estilo para el botón de archivo personalizado */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

/* Estilo para el campo de archivo */
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-input-wrapper .btn-upload {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.file-input-wrapper .btn-upload:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}