<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Aqui quiero que se vea  un tutorial de como es que tienes que crear una vacante</h1>
    <h2>u al ginal te va a llevar a que inicies sesion</h2>
    <a href="/Iniciar_sesion"><p>Hola</p></a>
</body>
</html>