<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>3 menus princi</h1>
    <h2>Vacantes que sera la de por defecto</h2>
    <h1>vacantes : crear, en proceso, finalizadas y detalle de cada una</h1>
    <h2>Familiares que sera lo que podra hacer :de forma similar lo que podra hacer es eregistrar a un fuckmiliar, y ver a los que tiene</h2>
    <h3>Direccion-datosPErsonales</h3>
</body>
</html>